html,
body {
  margin: 0;
  font-family: sans-serif;
}

#container {
  display: grid;
  grid-template-columns: auto 0;
  height: 100vh;
  overflow: hidden;
  transition: 300ms;
}

#sidebar {
  background-color: lightblue;
  padding: 0 10px;
  border-style: outset;
}

.container-show-sidebar {
  grid-template-columns: auto 30% !important;
}

.button-node {
  min-height: 50px;
  width: 100px;
  background: skyblue;
  padding: 5px;
  border: 1px solid greenyellow;
  border-radius: 5px;
}

.button-node:hover {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}