:root[data-theme='light'] {
  --text: #08110e;
  --background: #f4fbf8;
  --primary: #3dd6a1;
  --secondary: #0f855c;
  --accent: #38fab6;
  --navbar-divider: #000000;
  --navbar-shadow: rgba(0, 0, 0, 0.2);
  --error: rgb(250, 168, 182);
}

:root[data-theme='dark'] {
  --text: #eef7f4;
  --background: #040b08;
  --primary: #29c28c;
  --secondary: #0f855c;
  --accent: #05c783;
  --navbar-divider: #000000;
  --navbar-shadow: rgba(255, 255, 255, 0.15);
  --error: rgb(250, 168, 182);
}

html,
body {
  margin: 0;
  font-family: sans-serif;
}

#container {
  display: grid;
  grid-template-columns: auto 0;
  height: 100vh;
  overflow: hidden;
  transition: 200ms ease-in-out;
}

#sidebar {
  background-color: var(--background);
  position: relative;
  box-shadow: 0px 0px 5px var(--navbar-shadow);
  padding: 0 10px;
}

.container-show-sidebar {
  grid-template-columns: auto 30% !important;
}

#navbar {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  /* Shift back by half its width */

  display: flex;
  align-items: center;
  gap: 4px;
  background: var(--primary);
  padding: 6px 10px;
  border-radius: 3px;
  box-shadow: 0 10px 20px var(--navbar-shadow);
  backdrop-filter: blur(6px);

  & button {
    border: none;
    border-radius: 3px;
    background-color: transparent;
    /* padding-top: 3px; */
    cursor: pointer;
  }

  & button:hover {
    background-color: var(--secondary);
  }
}

.navbar-icons {
  font-size: 24px;
}

#navbar-divider {
  border-radius: 1px;
  opacity: 0.25;
  width: 1px;
  background-color: var(--navbar-divider);
  height: 24px;
  margin: 0 6px;
}

#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  max-width: 25vw;
  background: var(--background);
  border: 1px solid var(--secondary);
  box-shadow: 0 10px 20px var(--navbar-shadow);
  color: var(--text);
  border-radius: 6px;

  /* Animation */
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* Move it on screen*/
  transform: translateX(0);
  opacity: 1;

  & span {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
}

/* Hidden state - off screen */
#toast.toast-hidden {
  /* Moves right its own width to be offscreen */
  transform: translateX(calc(100% + 20px));
  opacity: 0;
  pointer-events: none;
}

#toast.toast-error {
  border: 1px solid var(--error);
}

.main-node {
  min-height: 50px;
  width: 100px;
  background: var(--primary);
  padding: 5px;
  border: 1px solid var(--accent);
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.main-node:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.spouse-node {
  min-height: 50px;
  width: 100px;
  background: var(--primary);
  padding: 5px;
  border: 1px solid rgb(250, 168, 182);
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.spouse-node:hover {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  transform: scale(1.05);
  cursor: pointer;
}

.bridge-node {
  width: 100px;
  min-height: 28.5px;
  background-color: aliceblue;
  opacity: 0;
}
